fastapi~=0.115.6
starlette~=0.45.2
email-validator~=2.2.0
uvicorn~=0.34.0
python-dotenv~=1.0.1
pydantic~=2.10.5
sqlmodel~=0.0.22
pydantic-settings~=2.7.1
numpy~=2.2.1
alembic~=1.14.0
python-slugify~=8.0.4
toml~=0.10.2
tomli~=2.2.1
isort~=5.13.2
black~=24.10.0

# dev
requests~=2.32.3
pytest~=8.3.4
httpx~=0.28.1
flake8~=7.1.1
black~=24.10.0
isort~=5.13.2
pre-commit~=4.1.0